div#write-box {
    align-self: flex-end;
}

main hr {
    width: 100%;
}

div#albums {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

span.album {
    margin: 40px;
    text-align: center;
}

span.album p {
    margin: 0;
}

span.album img {
    width: 200px;
}

span.artist::after {
    content: " - ";
}

p.album-reco {
    margin-bottom: 8px !important;
}

p.album-reco::before {
    content: "👍 ";
}

div.album-btns {
    display: flex;
    justify-content: space-evenly;
}

div.album-btns input[value*="추천"] {
    background: #32bd32;
}

div.album-btns input[value*="들었음"] {
    background: #555;
}