main h2 {
    margin: 0;
}

div#write-box {
    /*align-self: flex-end;*/
    position: absolute;
    top: 72px;
    right: 20%;
}

div#albums {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    transition: 1s;
}

span.album {
    width: 25%;
    max-width: 25%;
    text-align: center;
    margin: 40px 0;
    overflow: hidden;
    transition: 1s;
}

span.album:hover {
    overflow: unset;
    z-index: 1;
    transition: 1s;
}

span.album p {
    margin: 0;
}

span.album img {
    width: 200px;
    border-radius: 50%;
    transition: 1s;
}

span.album img:hover {
    border-radius: 0;
    transition: 1s;
}

p.album-name {
    font-size: 0.9rem;
}

span.title::before {
    content: " - ";
}

p.album-reco {
    margin-bottom: 8px !important;
}

p.album-reco::before {
    content: "👍 ";
}

div.album-btns {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    margin: 0 auto;
}

input.reco-btn, input.heard-btn {
    width: 57px;
}

input.reco-btn {
    background: #32bd32;
}

input.heard-btn.not-heard {
    background: #555;
}

input.heard-btn.heard {
    background: #24cdff;
}

div#album-nav span {
    margin-right: 5px;
}

div#album-nav span:last-child {
    margin-right: 0;
}

@media all and (orientation: portrait) {
    div#albums {
        flex-direction: column;
        align-content: center;
    }

    span.album {
        max-width: none;
        width: 80%;
        margin: 10px 0;
    }

    span.album img {
        width: 300px;
    }
}