main {
    padding-bottom: 50px;
}

main h2 {
    font-size: 2.2rem;
    margin: 10px 0;
}

span.title::before {
    content: " - ";
}

div#info, div#edit-btns {
    align-self: flex-end;
}

div#info p {
    display: inline-block;
    margin: 0;
    margin-left: 10px;
}

div#edit-btns form {
    display: inline-block;
}

input#update-btn, input#delete-btn {
    visibility: hidden;
    width: 0;
    padding: 0;
}

div#img-container {
    width: 30%;
    margin-top: 8px;
}

 main img {
    width: 100%;
}

div.album-btns {
    display: flex;
    justify-content: space-evenly;
    width: 150px;
}

input.reco-btn, input.heard-btn {
    width: 57px;
}

input.reco-btn {
    background: #32bd32;
}

input.heard-btn.not-heard {
    background: #555;
}

input.heard-btn.heard {
    background: #24cdff;
}

@media all and (orientation: portrait) {
    div#img-container {
        width: 60%;
    }
}