@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

input[type*="button"], input[type*="submit"]{
    color: white;
    background: black;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    cursor: pointer;
}

main hr {
    width: 100%;
}

/* header */

header {
    padding: 10px 5%;
    margin-bottom: 20px;
    background: black;
    box-shadow: 0 0 10px 10px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    list-style: none;
    margin: 0 10px;
}

a {
    text-decoration: none;
    color: black;
}

a#logo {
    color: white;
    height: 27px;
    position: relative;
}

a#logo img {
    height: 27px;
}

a#logo span {
    position: absolute;
    top: 0;
    left: 35px;
}

nav a {
    color: white;
}

header form {
    /*width: 15.5%*/
    border: 1px solid white;
    position: relative;
    transition: .3s;
}

header form#big {
    border: 1.5px solid black;
    box-shadow: 0 0 10px;
    position: fixed;
    top: 60px;
    left: calc(50% - 250px);
    background: white;
    width: 500px;
    height: 160px;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    z-index: 2;
}

input#toggle-size {
    font-size: 0.6rem;
    height: 21px;
    background: none;
    padding: 0 6px;
    position: relative;
    top: -1px;
    transition: .3s;
}

select#search-cls, input#search-box {
    background: none;
    color: white;
    transition: .3s;
}

select#search-cls {
    font-size: 0.6rem;
    border: none;
    /*width: 35%;*/
    height: 21px;
    position: relative;
    top: -1px;
}

input#search-box {
    width: 140px;
    border: none;
    /*width: 53%;*/
}

input#search-box::placeholder {
    color: lightgray;
}

input#search-submit {
    border-radius: 50%;
    box-shadow: 0 0 10px 4px white; 
    background-color: unset;
    background-image: url("https://image.flaticon.com/icons/svg/149/149852.svg");
    background-size: 17px;
    border: none;
    height: 17px;
    width: 17px;
    position: relative;
    top: 2px;
    cursor: pointer;
    margin-right: 3px;
}

header form:hover {
    background: white;
    transition: .3s;
}

header form:hover input#toggle-size {
    color: black;
    transition: .3s;
}

header form:hover select#search-cls, header form:hover input#search-box {
    color: black;
    transition: .3s;
}

header form:hover input#search-box::placeholder {
    color: gray;
}

header form#big input#toggle-size,
header form#big select#search-cls,
header form#big input#search-box {
    color: black;
    height: 50px;
    font-size: 1.5rem;
    border: 1px solid black;
    border-radius: 3px;
    margin: 0 32px;
}

header form#big input#toggle-size {
    width: 15%;
}

header form#big select#search-cls {
    width: 40%;
}

header form#big input#search-box {
    width: 68.5%;
}

header form#big input#search-box::placeholder {
    color: gray;
}

header form#big input#search-submit {
    border-radius: 0;
    box-shadow : none;
    background-size: 50px;
    height: 50px;
    width: 50px;
}

/* main */

main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 60%;
    padding-bottom: 50px;
}

div#login-box {
    position: absolute;
    top: 100px;
    right: calc(10% - 7.5%);
    border: 2px solid darkgray;
    width: 15%;
    padding: 2px;
    text-align: center;
}

#login-box #uid-box, #login-box #upwd-box {
    width: 90%;
    margin: 2px 5%;
}
div#login-btns {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

article#random-article {
    border: 2px solid darkgray;
    text-align: center;
    word-wrap: break-word;
    width: 50%;
    padding: 10px;
    position: relative;
}

input#reload-btn {
    background-color: unset;
    background-image: url("https://image.flaticon.com/icons/svg/126/126502.svg");
    background-size: 30px;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
}

article#random-article {
    margin-top: 10px;
}

article#random-article h2 {
    margin-top: 0;
}

article#random-article a {
    display: inline-block;
    width: 55%
}

article#random-article img {
    width: 100%;
}