main {
    flex-direction: row;
    max-height: 100vh;
    align-items: flex-start;
    transition: 1s;
}

main article {
    border: 2px solid black;
    margin: 1%;
    width: 48%;
    height: 820px;
    transition: 1s;
}

article#calendar {
    overflow-y: auto;
    transition: 1s;
}

article#calendar form {
    position: sticky;
    top: 0;
    background: white;
    z-index: 1;
    border-bottom: 1px solid darkgray;
    transition: 1s;
}

article#calendar select {
    width: 48%;
    border: none;
    font-size: 1.2rem;
    padding: 5px;
}

div#feed {
    margin-left: 60px;
    padding: 0 10px;
    position: relative;
    border-left: 1px solid black;
}

span.date {
    position: absolute;
    left: -45px;
    font-size: 0.8rem;
    height: 21px;
    margin-top: 3px;
}

span.date::after {
    content: "";
    display: inline-block;
    background: black;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    top: 3.5px;
    left: 38px;
}

p.album {
    cursor: pointer;
    transition: 0.3s;
}

p.album:hover {
    font-size: 1.1rem;
    color: #1bbb72;
    margin: calc(16px - .1rem) 0;
    transition: 0.3s;
}

span.title::before {
    content: " - ";
}

article#calendar-info {
    padding: 10px 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#img-container {
    width: 50%;
    position: relative;
}

div#img-container span.tooltip {
    content: "tooltip";
    /*visibility: hidden;*/
    opacity: 0;
    width: fit-content;
    height: fit-content;
    padding: 0 8px 2px 8px;
    border: 1px solid black;
    text-align: center;
    z-index: 1;
    position: absolute;
    top: calc(100% + 5px);
    left: calc(50%);
    background: black;
    color: white;
    border-radius: 5px;
    transition: .3s;
}

div#img-container:hover span.tooltip {
    /*visibility: visible;*/
    opacity: 1;
    transition: .3s;
}

span.tooltip::after {
    content: '';
    display: block;
    position: absolute;
    top: -8px;
    left: calc(50% - 8px);
    width: 0;
    height: 0;
    border-bottom: 8px solid black;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}

article img {
    width: 100%;
    transition: .6s;
}

article img:hover {
    filter: drop-shadow(0 0 0.5rem black);
    transition: .6s;
}

@media all and (orientation: portrait) {
    main {
        flex-direction: column;
        max-height: none;
    }

    main article {
        width: 98%;
        height: fit-content;
    }

    article#calendar {
        height: 250px;
    }

    article#calendar form {
        border-bottom: none;
        box-shadow: 0 0 20px 4px;
    }
}