form#sign-form {
    width: 45%;
    margin: 0 auto;
    border: 2px solid darkgray;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

div.item {
    height: 50px;
}

form#sign-form input[type*="text"], form#sign-form input[type*="date"] {
    width: 173px;
}

label {
    display: inline-block;
    width: 110px;
    border-bottom: 1px solid #e83c3c;
}

p.info {
    margin: 0;
}